/* HomePage.css */

.home-page {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

/* Hero Section */
.hero-section {
  position: relative;
  text-align: center;
  color: white;
  background-color: rgb(17, 83, 109); /* Adjust the background color */
  padding: 50px 0;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

.hero-content h1 {
  font-size: 2.5em;
}

.create-post-btn {
  padding: 10px 20px;
  background-color: #ff5722;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

/* Carousel */
.carousel {
  display: flex;
  overflow: hidden;
  height: 300px;
  margin-top: 20px;
}

.carousel-img {
  flex-shrink: 0;
  width: 100%;
  animation: slide 6s infinite;
}

@keyframes slide {
  0%,
  33% {
      opacity: 1;
  }
  34%,
  100% {
      opacity: 0;
  }
}

/* About Section */
.about-section {
  position: relative;
  padding: 50px 20px;
  text-align: center;
  background-color: #333;
  color: white;
}

.about-content {
  z-index: 1;
}

/* Analytics Section */
.analytics-section {
  position: relative;
  padding: 50px 20px;
  text-align: center;
  background-color: #555;
  color: white;
}

.analytics-content {
  z-index: 1;
}
